.TweetBox
{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}
.TweetBox--tweet
{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px !important;
    margin: auto!important;
}
.TweetBox > form
{
 display: flex;
 flex-direction: column;
}
.TweetBox--input
{
 padding: 20px;
 display: flex;
}
.TweetBox--input > input
{
   flex: 1; 
   margin-left: 20px;
   font-size: 20px;
   border: none;
   border-radius: 20px;
}
.TweetBox--Imageinput
{
    border: none;
    padding: 10px;
}



